.sidebar-container {
  background-color: #282c34;
  color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.sidebar-container h2 {
  color: #61dafb;
}
