.footer {
  background-color: #4a154b;
  color: white;
  text-align: center;
  padding: 2rem 0;
  font-size: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-size: 1rem;
  color: #ccc;
}
